// form.scss
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: #1f1f1f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  @media (min-width: 576px) {
    flex-direction: row;
  }

  input {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff; /* White color for the input */
    color: #000000; /* Black color for the input text */
    font-size: 30px;
    text-align: center;

    @media (min-width: 576px) {
      margin-right: 10px;
      width: 75%;
      font-size: 16px;
    }
  }

  #submit-button {
    width: 100%;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Green */
    color: #ffffff; /* White */
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #45a049;
    }

    @media (min-width: 576px) {
      width: 20%;
      font-size: 16px;
    }
  }
}
